.root {
  padding: 0;
  margin: 0;
}

.input {
  width: 100%;
  font-size: var(--mantine-font-size-sm);
  border: 0 solid transparent !important;
  background-color: transparent !important;
  padding: 0;
  margin: 0;
  font-family: inherit !important;
}
