.root {
  border: 0px solid transparent !important;
}

.toolbar {
  padding: var(--mantine-spacing-xs) 0;
  border: 0px solid transparent !important;
  gap: 2 !important;
}

.content {
  border: 0px solid transparent !important;
}

.controlsGroup {
  background-color: transparent;
  border-radius: var(--mantine-radius-md);
}

.control {
  transition: 0.25s all ease;
  background-color: transparent !important;
  border: 0px solid transparent !important;
}

.control[data-active] {
  background-color: var(--mantine-color-pri-light) !important;
}

@media (hover: hover) {
  .control:hover {
    background-color: light-dark(
      var(--mantine-color-gray-1),
      var(--mantine-color-dark-8)
    ) !important;
  }
}
