.noise {
  background-position: center;
  background-repeat: repeat;

  background-size: 20px;

  @include mantine.larger-than(mantine.$mantine-breakpoint-xs) {
    background-size: 40px;
  }

  @include mantine.larger-than(mantine.$mantine-breakpoint-sm) {
    background-size: 60px;
  }

  @include mantine.larger-than(mantine.$mantine-breakpoint-md) {
    background-size: 80px;
  }
}
